<div class="container ml-3 mt-5">
  <div class="row p-1">
    <div class="table-responsive-lx">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Compra / Venta</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr *ngFor="let s of students; let i=index"> -->
          <!-- <th scope="row">{{i+1}}</th> -->
          <tr>
            <td><input class="border-0 bg-transparent" type="text"></td>
            <td><input class="border-0 bg-transparent" type="text"></td>
            <td><input class="border-0 bg-transparent" type="number"></td>
            <td><input class="border-0 bg-transparent" type="number"></td>
            <td><input class="border-0 bg-transparent" type="text"></td>
          </tr>
          <!-- </tr> -->
        </tbody>
      </table>
    </div>
  </div>
  <div class="row p-1">
    <div class="col">
      <button class="btn btn-dark">Add</button>
    </div>
  </div>
</div>