<div class="container ml-3 mt-5">
  <div class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="busqueda" (ngModelChange)="searchByName()">
    <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
  </div>
  <div class="row p-1">
    <div class="table-responsive-lx">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Compra / Venta</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of dataVisual">
            <td><input class="border-0 bg-transparent" type="text" [(ngModel)]="item.fecha"></td>
            <td><input class="border-0 bg-transparent" type="text" [(ngModel)]="item.nombre"></td>
            <td><input class="border-0 bg-transparent" type="number" [(ngModel)]="item.precio"></td>
            <td><input class="border-0 bg-transparent" type="number" [(ngModel)]="item.cantidad"></td>
            <td><input class="border-0 bg-transparent" type="text" [(ngModel)]="item.cv"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row p-1">
    <div class="col">
      <button class="btn btn-dark">Add</button>
    </div>
  </div>
</div>