<div class="container mt-5 text-white">
  <div class="row">
    <div class="col-10">
      <h1 class="font-weight-bold">Historial</h1>
    </div>
    <div class="col-2">
      <div class="form-inline">
        <input class="form-control ml-sm-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="busqueda" (ngModelChange)="searchByName()">
      </div>
    </div>
  </div>
  <div class="row pl-4 pt-2">
    <div class="table-responsive-lx">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Compra / Venta</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of dataVisual">
            <td><p class="border-0 bg-transparent">{{item.fecha|date:'dd/MM/yyyy'}}</p></td>
            <td><p class="border-0 bg-transparent">{{item.nombre}}</p></td>
            <td><p class="border-0 bg-transparent">{{item.precio}}</p></td>
            <td><p class="border-0 bg-transparent">{{item.cantidad}}</p></td>
            <td><p class="border-0 bg-transparent">{{item.cv}}</p></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>