<div class="container mt-5 text-white">
  <div class="row mt-4">
    <div class="col-10">
      <h1 class="font-weight-bold">Total(mensual)</h1>
    </div>
    <div class="col-2">
      <div class="form-inline">
        <input class="form-control ml-sm-2" type="search" placeholder="Search" aria-label="Search">
      </div>
    </div>
  </div>
  <div class="row pl-4 pt-2">
    <div class="table-responsive-lx">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Fecha(mes)</th>
            <th scope="col">Invertido</th>
            <th scope="col">Ganado</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr *ngFor="let item of dataVisual"> -->
          <tr>
            <td><p class="border-0 bg-transparent" type="text"></p></td>
            <td><p class="border-0 bg-transparent" type="number"></p></td>
            <td><p class="border-0 bg-transparent" type="number"></p></td>
            <td><p class="border-0 bg-transparent" type="number"></p></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>